{% extends 'base.html' %}
{% block title %}Редактировать задачу{% endblock %}
{% block content %}
<h2 class="mb-4">Редактировать задачу</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.title.label }} {{ form.title(class="form-control") }}</div>
    <div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control") }}</div>
    <div class="mb-3">{{ form.status.label }} {{ form.status(class="form-select") }}</div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
